body {
    font-family: 'Ubuntu', sans-serif;
}

/* http://css-tricks.com/watch-your-font-weight/ */
h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.header {
    text-align: center;
}

.header h1 {
    border-bottom: 1px solid gray;
    display: inline-block;
}

.header h1 span {
    color: gray;
    font-size: 20px;
}

.header h2 {
    font-size: 20px;
}
