body {
    font-family: 'Ubuntu', sans-serif;
}

/* http://css-tricks.com/watch-your-font-weight/ */
h1, h2, h3, h4, h5 {
    font-weight: 400;
}

/* The content div is placed as a wrapper around all the docs */
.content {
    margin: 0 auto;
    width: 100%;
}

.header {
    text-align: center;
}

.header h2 {
    border-bottom: 1px solid gray;
    display: inline-block;
}

.header h1 span {
    color: gray;
    font-size: 20px;
}

.header h2 {
    font-size: 20px;
}

.l-hbox {
    padding: 0 1.3em;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
}
