{% if user.is_staff %}
    {% if is_block_page %}
      <li>
        <a href="{% if design %}..{% else %}{{ page.get_design_url }}{% endif %}"
          title="{% if design %}View{% else %}Design{% endif %}" 
          style="text-align: right; padding: 0.0em 6px 0.0em 0.0em">
          {% if design %}
            View
            <i class="fa fa-square-o"></i>
          {% else %}
            Design
            <i class="fa fa-edit"></i>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endif %}
