{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  pkimber.net
{% endblock title %}

{% block heading %}
  Patrick Kimber
{% endblock heading %}


{% block menu %}
  <li {% if 'portfolio' in path %}class="pure-menu-selected"{% endif %}>
    <a href="{% url "project.portfolio" %}">Portfolio</a>
  </li>
  <li {% if 'technology' in path %}class="pure-menu-selected"{% endif %}>
    <a href="{% url "project.technology" %}">Technology</a>
  </li>
  <li {% if 'contact' in path %}class="pure-menu-selected"{% endif %}>
    <a href="{% url "project.contact" %}">Contact</a>
  </li>
{% endblock menu %}

{% block footer %}
  <div class="legal pure-g-r">
    <div class="pure-u-2-5">
      <div class="l-box">
        <a href="http://uk.linkedin.com/in/pkimber/">
          <i class="icon-linkedin icon-3x"></i>
        </a>
        <a href="https://twitter.com/pkimber">
          <i class="icon-twitter icon-3x"></i>
        </a>
        <a href="https://github.com/pkimber">
          <i class="icon-github icon-3x"></i>
        </a>
        <a href="https://bitbucket.org/pkimber">
          <i class="icon-bitbucket icon-3x"></i>
        </a>
        <a href="https://plus.google.com/101004446038482302587/about/p/pub">
          <i class="icon-google-plus icon-3x"></i>
        </a>
        <a href="https://www.facebook.com/pkimber">
          <i class="icon-facebook icon-3x"></i>
        </a>
      </div>
    </div>
    <div class="pure-u-1-5">
      <div class="l-box legal-logo">
        <a href="http://yuilibrary.com/">
          <img height="30" width="65" alt="YUI logo" src="{% static "img/project/yui.png" %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/">
            Yahoo Pure CSS
          </a>


        </p>
      </div>
    </div>
    <div class="pure-u-2-5">
      <div class="l-box">
        <ul class="legal-links pure-g">
          <li class="pure-u-1">
            <strong>email </strong>
            <a href="mailto:mail@pkimber.net">
              web@pkimber.net
            </a>
          </li>
          <li class="pure-u-1">
            <strong>mobile </strong>
            07840 538 357
          </li>
          <li class="pure-u-1">
            <strong>international </strong>
            +44 7840 538 357
          </li>
          <li class="pure-u-1">
            Hatherleigh, Okehampton, Devon, UK
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock footer %}

