{% extends "project/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Portfolio
{% endblock sub_title %}

{% block sub_heading %}
  Portfolio
{% endblock sub_heading %}

{% block content %}
  {% for story in section_list %}
    {% if forloop.counter|divisibleby:"2" %}
      <div class="pure-g-r marketing-ribbon">
        <div class="pure-u-1-2">
          <div class="l-box">
            <a href="{{ story.url }}">
              <img src="{{ MEDIA_URL}}{{ story.picture }}" alt="{{ story.title }}">
            </a>
          </div>
        </div>
        <div class="pure-u-1-2">
          <div class="l-hbox">
            <h3>
              <a href="{{ story.url }}">{{ story.title }}</a>
            </h3>
            {{ story.description|safe }}
          </div>
        </div>
      </div>
    {% else %}
      <div class="pure-g-r marketing-ribbon">
        <div class="pure-u-1-2">
          <div class="l-hbox">
            <h3>
              <a href="{{ story.url }}">{{ story.title }}</a>
            </h3>
            {{ story.description|safe }}
          </div>
        </div>
        <div class="pure-u-1-2">
          <div class="l-box">
            <a href="{{ story.url }}">
              <img src="{{ MEDIA_URL}}{{ story.picture }}" alt="{{ story.title }}">
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
