{% extends "project/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Portfolio
{% endblock sub_title %}

{% block sub_heading %}
  Portfolio
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
      <div class="l-box">
        <a href="/layouts/">
          <img src="{% static "img/project/connexionsw.png" %}" alt="Connexion Software Ltd">
        </a>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="l-hbox">
        <h3>
          <a href="https://connexionsw.com/">Connexion Software Ltd</a>
        </h3>
        <p>
          Building and hosting high performance web applications on
          <a href="http://www.rackspace.co.uk/">RackSpace</a>
          cloud servers.
        </p>
        <p>
          Automatic provisioning and maintenance of linux server infrastructure using
          <a href="http://saltstack.com/">SaltStack</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
      <div class="l-hbox">
        <h3>
          <a href="http://www.dounreay.com/">
            Nuclear Waste Tracking
          </a>
        </h3>
        <p>
          Design, installation and maintenance of nuclear waste tracking and management systems.
        </p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="l-box">
        <a href="/layouts/">
          <img src="{% static "img/project/dounreay.png" %}" alt="Dounreay Site Restoration Limited (DSRL)">
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
