{% load block_tags %}
{% load staticfiles %}
{% load thumbnail %}

<div class="pure-g marketing-ribbon">
  {% if c.picture %}
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="l-box">
        <a href="{{ c.url }}">
          <img class="pure-img" src="{{ MEDIA_URL}}{{ c.picture }}" alt="{{ c.title }}">
        </a>
      </div>
    </div>
  {% endif %}
  <div class="pure-u-1 pure-u-md-3-4">
    <div class="l-hbox">
      <h3>{{ c.title }}</h3>
      <p>
        {% autoescape off %}
          {{ c.description }}
        {% endautoescape %}
      </p>
      {% if design %}{% block_moderate c %}{% endif %}
    </div>
  </div>
</div>
