{% extends 'block/base.html' %}

{% block menu_extra %}
  <li class="pure-menu-item">
    <a href="{% url 'web.contact' %}" class="pure-menu-link">Contact</a>
  </li>
  <li class="pure-menu-item">
    <a href="/howto/" class="pure-menu-link">My Memory</a>
  </li>
  {% if user.is_authenticated %}
    <li class="pure-menu-item{% if 'search' in path %} pure-menu-selected{% endif %}">
      <a href="{% url 'project.search' %}" class="pure-menu-link">Search</a>
    </li>
  {% endif %}
{% endblock menu_extra %}

{% block analytics %}
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NSPQRM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NSPQRM');</script>
  <!-- End Google Tag Manager -->
{% endblock analytics %}
