{% extends "project/base.html" %}
{% load staticfiles %}

{% block stylesheets_extra %}
  {% include 'base/_dropzone.css.html' %}
{% endblock stylesheets_extra %}

{% block sub_title %}
  Content update
{% endblock sub_title %}

{% block sub_heading %}
  Content update
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Content' dropzone=True multipart=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'base/_ckeditor.html' %}
  {% include 'base/_dropzone.js.html' %}
{% endblock script_extra %}
